span [class^="nk-t-"] {
	color: white;
}

.nk-navbar {
	padding: 25px 0;
}

.profile-pic-row {
	display: flex;
	justify-content: center;
}

.img-div {
	width: 360px;
}

.profile-pic {
	height: auto;
}
