span [class^="nk-t-"] {
	color: white;
}

.nk-navbar {
	padding: 25px 0;
}

.profile-pic-row {
	display: flex;
	justify-content: center;
}

.img-div {
	width: 360px;
}

.profile-pic {
	height: auto;
}

.info-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.portfolio-project-img {
	background-position: 0% !important;
}
